<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find a Judo Dojo</title>
    <link rel="stylesheet" href="../static/styles.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <main>
        <section id="hero" class="hero">
            <div class="overlay"></div>
           <!-- <button id="add-dojo-btn" class="add-dojo-button">Add Dojo</button>-->
            <div class="hero-content">
                <h1 class="find_dojo_h1">Find Judo Dojos in Your City</h1>
                <form id="search-form">
                    <input type="text" name="location" placeholder="Enter your city" required>
                    <button type="submit">Search</button>
                </form>
                <div id="error-container" class="error-container" style="display: none;">
                    <div id="error-message" class="error-message"></div>
                </div>
                <div class="add-dojo-card">
                    <div class="card-header">
                        <i class="fas fa-info-circle"></i>
                        <h2>Add Your Dojo</h2>
                    </div>
                    <p>Do you own or manage a dojo? Add it to our directory to help people find you!</p>
                    <button class="add-dojo-button" >Add Dojo</button>
                </div>
                <!-- Add Dojo Button -->
            </div>
        </section>
        
        <div id="response" class="dojo-list">
            <!-- This will be dynamically populated by jQuery -->
        </div>
    </main>

    <footer>
        <div class="footer-content">
            <div class="footer-left">
                <p>&copy; 2024 Judo Dojo Finder. All rights reserved.</p>
            </div>
            <div class="footer-right">
                <p>Contact us: <a href="mailto:dojofinderinfo@gmail.com">dojofinderinfo@gmail.com</a></p>
            </div>
        </div>
    </footer>
    <script src="{{ url_for('static', filename='js/homePage.js') }}"></script>
</body>
</html>
